p

{
    color: green;
    font-size: 12pt;
    font-family: Helvetica, Courier New, San Serif, Arial;
   }

body {
    margin: auto;
    max-width: 800px;

    background-color: rgb(0, 255, 115);
}

img

{
    padding: 10px;
}