p

{
    color: rgb(245, 245, 245);
    font-size: 16pt;
    font-family: Helvetica, Courier New, San Serif, Arial;
   }

body {
    margin: auto;
    max-width: 800px;

    background-color: rgb(94, 94, 94);
}

img

{
    padding: 10px;
}